# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

os:
    - osx
    - linux

language: R
sudo: false
cache: packages

after_success:
    - Rscript -e 'covr::codecov()'

before_deploy: Rscript -e 'remotes::install_cran("pkgdown")'
deploy:
  provider: script
  script: Rscript -e 'pkgdown::deploy_site_github()'
  skip_cleanup: true
